a {
  text-decoration: none;
  color: #95959B; }
  a:hover {
    text-decoration: none;
    color: #95959B; }

ul, li {
  list-style-type: none;
  margin: 0;
  color: #95959B; }

i, p, span {
  color: #95959B; }

h1, h2, h3, h4, h5, h6 {
  color: #fff; }

.active {
  background-color: #0061FD;
  padding: 0.5em;
  color: #fff;
  border-radius: 8em; }
  .active:hover {
    background-color: #fff;
    color: #0061FD; }

.active-nav-menu {
  background-color: #2f2f2f;
  padding: .6em 1.6em;
  border-radius: .7em; }

.discount {
  color: #38571A;
  background-color: #B1DD8B;
  border-radius: 6px;
  padding: 0.25em;
  margin-right: 0.8em; }

.old-price {
  text-decoration: line-through;
  color: #EBEBF5;
  margin-right: 1em; }

.price {
  color: #fff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.navbar #header {
  padding: 0 1em;
  position: fixed;
  background-color: #141414;
  height: 100%;
  z-index: 1;
  transform: translateX(-110%);
  opacity: 0;
  transition: all .4s linear;
  overflow-y: auto; }
  .navbar #header .logo {
    width: 200px;
    padding: 1em 0; }
    .navbar #header .logo img {
      width: 100%; }
.navbar .sidebar .nav-item {
  margin-bottom: 1.5em; }
  .navbar .sidebar .nav-item .nav-link {
    padding: .6em 3em .6em 1em;
    border-radius: .7em;
    transition: all .4s linear; }
    .navbar .sidebar .nav-item .nav-link:hover {
      background-color: #2f2f2f; }
    .navbar .sidebar .nav-item .nav-link img {
      padding-right: .7em; }
    .navbar .sidebar .nav-item .nav-link span {
      font-size: .8em; }
.navbar .sidebar .user-settings {
  display: flex;
  flex-direction: column;
  height: 30em;
  justify-content: flex-end; }
  .navbar .sidebar .user-settings .nav-link .pp-container {
    position: relative; }
    .navbar .sidebar .user-settings .nav-link .pp-container::after {
      content: "";
      position: absolute;
      bottom: -10%;
      right: 27%;
      width: 6px;
      height: 6px;
      background-color: #32D74B;
      border-radius: 50%; }

.store #main {
  padding: 2.25em 0; }
  .store #main #store-menu .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .store #main #store-menu .menu-container .menus {
      display: flex; }
      .store #main #store-menu .menu-container .menus .menu-item {
        padding-right: 1.25em; }
        .store #main #store-menu .menu-container .menus .menu-item .menu-link {
          font-size: 0.875em;
          transition: all .3s linear; }
          .store #main #store-menu .menu-container .menus .menu-item .menu-link:hover {
            color: #0061FD; }
    .store #main #store-menu .menu-container .notification_search {
      display: flex;
      align-items: center; }
      .store #main #store-menu .menu-container .notification_search .notification-container {
        position: relative;
        margin-right: 1em; }
        .store #main #store-menu .menu-container .notification_search .notification-container::after {
          content: "1";
          position: absolute;
          top: -45%;
          right: -60%;
          width: 1.25em;
          height: 1.25em;
          padding: .2em;
          line-height: 1.25em;
          text-align: center;
          background-color: #0061FD;
          color: #fff;
          font-size: 0.875em;
          border-radius: 50%;
          box-sizing: content-box; }
      .store #main #store-menu .menu-container .notification_search .search-form {
        position: relative; }
        .store #main #store-menu .menu-container .notification_search .search-form #searchBar {
          font-size: 0.875em;
          background-color: #2F2F2F;
          color: #fff;
          border: none;
          width: 90%;
          border-radius: 1.5em;
          padding: 0.625em 2.125em; }
          .store #main #store-menu .menu-container .notification_search .search-form #searchBar:focus {
            outline-width: 0; }
        .store #main #store-menu .menu-container .notification_search .search-form .search-icon {
          position: absolute;
          top: 32%;
          left: 5%; }
      .store #main #store-menu .menu-container .notification_search .btn-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .4s linear; }
        .store #main #store-menu .menu-container .notification_search .btn-container .open-close {
          width: 100%;
          height: 1px;
          background-color: #fff;
          transition: all .4s linear; }
          .store #main #store-menu .menu-container .notification_search .btn-container .open-close::before, .store #main #store-menu .menu-container .notification_search .btn-container .open-close::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #fff;
            transition: all .4s linear; }
          .store #main #store-menu .menu-container .notification_search .btn-container .open-close::before {
            transform: translateY(-10px); }
          .store #main #store-menu .menu-container .notification_search .btn-container .open-close::after {
            transform: translateY(10px); }
      .store #main #store-menu .menu-container .notification_search .btn-container.activeBtn .open-close {
        transform: translateX(-50px);
        background-color: transparent; }
        .store #main #store-menu .menu-container .notification_search .btn-container.activeBtn .open-close::before {
          transform: rotate(45deg) translate(35px, -35px); }
        .store #main #store-menu .menu-container .notification_search .btn-container.activeBtn .open-close::after {
          transform: rotate(-45deg) translate(35px, 35px); }
  .store #main #showcase {
    padding: 2.25em 0; }
    .store #main #showcase .announcement {
      background-image: url("../img/showcase-bg.svg");
      background-repeat: none;
      background-size: cover;
      background-position: center;
      border-radius: 0.75em 0 0 0.75em;
      padding: 1.125em 1.75em 2em 1.75em; }
      .store #main #showcase .announcement .game-header {
        font-size: 1.625em;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
      .store #main #showcase .announcement .season-update {
        margin-top: 10em; }
        .store #main #showcase .announcement .season-update .update {
          color: #EBEBF5;
          font-size: 0.875em; }
        .store #main #showcase .announcement .season-update .announcement-header {
          font-size: 2.125em; }
        .store #main #showcase .announcement .season-update .play-btn {
          display: inline-block;
          background-color: #0061FD;
          color: #fff;
          transition: all .3s linear;
          padding: 1.25em 1.125em;
          border-radius: .875em;
          margin-top: 1.75em; }
          .store #main #showcase .announcement .season-update .play-btn i {
            color: #fff;
            transition: all .3s linear; }
          .store #main #showcase .announcement .season-update .play-btn:hover {
            background-color: #fff;
            color: #0061FD; }
            .store #main #showcase .announcement .season-update .play-btn:hover i {
              color: #0061FD; }
    .store #main #showcase .aside-games {
      background-color: #2F2F2F;
      border-radius: 0 0.75em 0.75em 0;
      padding: 0.5em .75em;
      height: 100%; }
      .store #main #showcase .aside-games .game {
        padding-bottom: 1em; }
        .store #main #showcase .aside-games .game a {
          display: flex;
          align-items: center; }
          .store #main #showcase .aside-games .game a img {
            padding-right: 1.1em; }
          .store #main #showcase .aside-games .game a span {
            color: #fff;
            font-size: 0.8em; }
  .store #main #sale .sale-heading-container {
    display: flex;
    justify-content: space-between; }
    .store #main #sale .sale-heading-container .sale-header {
      font-size: 1em; }
    .store #main #sale .sale-heading-container .navigation-buttons {
      display: flex; }
      .store #main #sale .sale-heading-container .navigation-buttons .navigation-button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 2.25em;
        height: 2.25em;
        text-align: center;
        line-height: 2.25em;
        margin-left: 1.5em; }
        .store #main #sale .sale-heading-container .navigation-buttons .navigation-button i {
          color: #fff; }
  .store #main #sale .sale-products {
    margin-top: 1.875em; }
    .store #main #sale .sale-products .sale-product img {
      width: 100%; }
    .store #main #sale .sale-products .sale-product .product-info {
      margin-top: 1.1em; }
      .store #main #sale .sale-products .sale-product .product-info .price-container {
        font-size: 1em; }

@media only screen and (max-width: 575px) {
  .navbar #header .sidebar .user-settings {
    height: 16em; }

  .store #main #showcase .announcement {
    border-radius: .75em; }
  .store #main #showcase .aside-games {
    border-radius: .75em;
    margin-top: 1em; }
  .store #main #store-menu .menu-container {
    flex-direction: column;
    align-items: flex-start; }
    .store #main #store-menu .menu-container .notification_search {
      margin-top: 1em; }
  .store #sale .sale-products .sale-product {
    margin-top: 1em; } }
@media only screen and (min-width: 576px) and (max-width: 769px) {
  .navbar #header .sidebar .user-settings {
    height: 25em; }

  .store #main #showcase .announcement {
    border-radius: .75em; }
  .store #main #showcase .aside-games {
    border-radius: .75em;
    margin-top: 1em; } }

/*# sourceMappingURL=style.css.map */
