@import "variables";
@import "shared";
@import "mixins";

// Global Styling
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif; 
}

// Utility Classes
.container {
    max-width: 1440px;
    margin: 0 auto;
}

// Header 
.navbar {
    

    #header {
        padding: 0 1em;
        position: fixed;
        background-color: $bg-color;
        height: 100%;
        z-index: 1;
        transform: translateX(-110%);
        opacity: 0;
        transition: all .4s linear;
        overflow-y: auto;
    
        .logo {
            width: 200px;
            padding: 1em 0;
    
            img {
                width: 100%;
            }
        }
    }

    // Sidebar
    .sidebar {

        .nav-item {
            margin-bottom: 1.5em;

            .nav-link {
                padding: .6em 3em .6em 1em;
                border-radius: .7em;
                transition: all .4s linear;

                &:hover {
                    background-color: #2f2f2f;
                }

                img {
                    padding-right: .7em;
                }

                span {
                    font-size: .8em;
                }
            }
        }

        .user-settings {
            display: flex;
            flex-direction: column;
            height: 30em;
            justify-content: flex-end;

            .nav-link {

                .pp-container {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10%;
                        right: 27%;
                        width: 6px;
                        height: 6px;
                        background-color: #32D74B;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

// Main
.store {

    #main {
        padding: 2.25em 0;
    
        #store-menu {
    
            .menu-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .menus {
                    display: flex;
    
                    .menu-item {
                        padding-right: 1.25em;
    
                        .menu-link {
                            font-size: 0.875em;
                            transition: all .3s linear;
    
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
    
                .notification_search {
                    display: flex;
                    align-items: center;
    
                    .notification-container {
                        position: relative;
                        margin-right: 1em;
    
                        &::after {
                            content: "1";
                            position: absolute;
                            top: -45%;
                            right: -60%;
                            width: 1.25em;
                            height: 1.25em;
                            padding: .2em;
                            line-height: 1.25em;
                            text-align: center;
                            background-color: $main-color;
                            color: $white-color;
                            font-size: 0.875em;
                            border-radius: 50%;
                            box-sizing: content-box;
                        }
                    }
    
                    .search-form {
                        position: relative;
    
                        #searchBar {
                            font-size: 0.875em;
                            background-color: #2F2F2F;
                            color: $white-color;
                            border: none;
                            width: 90%;
                            border-radius: 1.5em;
                            padding: 0.625em 2.125em;
    
                            &:focus {
                                outline-width: 0;
                            }
                        }
    
                        .search-icon {
                            position: absolute;
                            top: 32%;
                            left: 5%;
                        }
                    }

                    .btn-container {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        transition: all .4s linear;

                        .open-close {
                            width: 100%;
                            height: 1px;
                            background-color: $white-color;
                            transition: all .4s linear;

                            &::before, &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                background-color: $white-color;
                                transition: all .4s linear;
                            }

                            &::before {
                                transform: translateY(-10px);
                            }

                            &::after {
                                transform: translateY(10px);
                            }
                        }
                    }

                    // Animation
                    .btn-container.activeBtn {

                        .open-close {
                            transform: translateX(-50px);
                            background-color: transparent;

                            &::before {
                                transform: rotate(45deg) translate(35px, -35px);
                            }

                            &::after {
                                transform: rotate(-45deg) translate(35px, 35px);
                            }
                        }
                    }
                }
            }
        }
    
        // Showcase Section
        #showcase {
            padding: 2.25em 0;
    
            .announcement {
                background-image: url("../img/showcase-bg.svg");
                background-repeat: none;
                background-size: cover;
                background-position: center; 
                border-radius: 0.75em 0 0 0.75em;
                padding: 1.125em 1.75em 2em 1.75em;
    
                .game-header {
                    font-size: 1.625em;
                    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                }
    
                .season-update {
                    margin-top: 10em; 
    
                    .update {
                        color: #EBEBF5;
                        font-size: 0.875em;
                    }
    
                    .announcement-header {
                        font-size: 2.125em;
                    }
    
                    .play-btn {
                        display: inline-block;
                        @include btn($main-color, $white-color);
                        padding: 1.25em 1.125em;
                        border-radius: .875em;
                        margin-top: 1.75em;
    
                        i {
                            color: $white-color;
                            transition: all .3s linear;
                        }
    
                        &:hover {
                            background-color: $white-color;
                            color: $main-color;
    
                            i {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
    
            .aside-games {
                background-color: #2F2F2F;
                border-radius: 0 0.75em 0.75em 0;
                padding: 0.5em .75em;
                height: 100%;
    
                .game {
                    padding-bottom: 1em;
    
                    a {
                        display: flex;
                        align-items: center;
    
                        img {
                            padding-right: 1.1em;
                        }
    
                        span {
                            color: $white-color;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    
        // Sale Section
        #sale {
    
            .sale-heading-container {
                display: flex;
                justify-content: space-between;
    
                .sale-header {
                    font-size: 1em;
                }
    
                .navigation-buttons {
                    display: flex;
    
                    .navigation-button {
                        border: 1px solid $white-color;
                        border-radius: 50%;
                        width: 2.25em;
                        height: 2.25em;
                        text-align: center;
                        line-height: 2.25em;
                        margin-left: 1.5em;
    
                        i {
                            color: $white-color;
                        }
                    }
                }
            }
    
            .sale-products {
                margin-top: 1.875em;
    
                .sale-product {
    
                    img {
                        width: 100%;
                    }
    
                    .product-info {
                        margin-top: 1.1em;
    
                        .price-container {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

// Media Queries
// Small Screens 
@media only screen and (max-width: 575px) {
    // Header
    .navbar {

        #header {

            .sidebar {

                .user-settings {
                    height: 16em;
                }
            }
        }
    }

    // Main
    .store {

        #main {

            // Showcase
            #showcase {
                
                .announcement {
                    border-radius: .75em;
                }

                .aside-games {
                    border-radius: .75em;
                    margin-top: 1em;
                }
            }

            // Store Menu
            #store-menu {

                .menu-container {
                    flex-direction: column;
                    align-items: flex-start;

                    .notification_search {
                        margin-top: 1em;
                    }
                }
            }
        }

        // Sale Products
        #sale {
            
            .sale-products {

                .sale-product {

                    margin-top: 1em;
                }
            }
        }
    }
}

// Medium Screens
@media only screen and (min-width: 576px) and (max-width: 769px) {
    // Header
    .navbar {

        #header {

            .sidebar {

                .user-settings {
                    height: 25em;
                }
            }
        }
    }

    // Main
    .store {

        #main {

            // Showcase
            #showcase {
                
                .announcement {
                    border-radius: .75em;
                }

                .aside-games {
                    border-radius: .75em;
                    margin-top: 1em;
                }
            }

        }
    }
}